@import "tailwindcss/base";

@import "./bootstrap.css";

@import "tailwindcss/components";

@import "tailwindcss/utilities";

@import "./utilities/markup.css";
@import "./vendor/hljs.css";


button {
    transition: transform 0.2s ease;
    transform-origin: 0 50%;  
}

button:hover {
    transform: scaleX(1.03);
}

button:active {
    transform: scaleX(1.06);
}

.input {
    @apply h-12;
    @apply text-purple-500;
    background-image: linear-gradient(to right, #fff 20%, #daf1f5);
}

.input:focus {
    background-image: none;
    @apply outline-none;
    @apply bg-yellow-100;
}

.input::placeholder {
    transition: transform 0.5s ease, opacity 0.5s ease;
  }

.input:focus::placeholder {
    transform: translateX(25%);
    opacity: 0;
}

.moving-button { 
    transition: transform 0.2s ease;
    transform-origin: 0 50%;  
}

.moving-button .button { 
    transition: background 0.2s ease, color 0.2s ease, transform 0.2s ease;
}

.input:invalid + .moving-button,
.input:invalid + .moving-button .button {
    transition-delay: 1s
}

.input:valid + .moving-button .button { 
    @apply bg-yellow-500;
    @apply text-black;
}

@screen md {
    .moving-button { 
        @apply absolute; 
        @apply right-0; 
        @apply top-0; 
    }

    .input:valid + .moving-button {
        transform: translateX(100%);
    }
}

.button {
    transition: transform 0.2s ease;
    transform-origin: 0 50%;  
    @apply h-12;
    @apply inline-flex;
    @apply items-center;
    @apply px-6;
    @apply font-display;
    @apply text-xl;
    @apply text-white;
    @apply text-opacity-90;
    @apply bg-purple-500;
}

.marker {
    @apply -mx-1 ;
    @apply px-1 ;
    @apply inline-block;
    background-image: linear-gradient(to right,theme('colors.yellow.500'), theme('colors.yellow.500')33 80%);
}

:target > .marker-target {
    @apply -mx-1 ;
    @apply px-1 ;
    @apply block;
    background-image: linear-gradient(to right,theme('colors.yellow.500')66, theme('colors.yellow.500')00 80%);
}

.marker-purple {
    @apply -mx-1 ;
    @apply px-1 ;
    @apply inline-block;
    background-image: linear-gradient(to right,theme('colors.purple.400')66, theme('colors.purple.400')00 80%);
}

@keyframes glow-1{
    0% {
        opacity: 0;
        transform: translateX(-20px);
        /* filter: blur(12px); */
    }
    20% {
        opacity: .07;
    }
    50% {
        opacity: .12;
        transform: translateX(-3px);
        /* filter: blur(0); */
    }
    70% {
        opacity: 0;
        transform: scaleX(2.5)  translateX(3px);
        /* filter: blur(40px); */
    }
    100% {
        opacity: 0;
    }
}

@keyframes glow-2{
    0% {
        opacity: 0;
        transform: scaleX(3.5) translateX(-15px);
        /* filter: blur(9px); */
    }
    24% {
        opacity: .08;
    }
    45% {
        opacity: .13;
        transform: scaleX(2.2) translateX(-6px);
        /* filter: blur(1px); */
    }
    70% {
        opacity: 0;
        transform: scaleX(.75)  translateX(5px);
        /* filter: blur(35px); */
    }
    100% {
        opacity: 0;
    }
}

.line-1 {
    animation: glow-1 6s ease-in-out 0.3s infinite both;
    background-image: linear-gradient(to left, rgba(0,0,0,0), rgba(0,0,0,0.25) 30%, rgba(0,0,0,0.25) 70%, rgba(0,0,0,0));
}

.line-2 {
    animation: glow-2 7s ease-in-out 2.5s infinite both;
    background-image: linear-gradient(to left, rgba(0,0,0,0), rgba(0,0,0,0.5) 30%, rgba(0,0,0,0.25) 70%, rgba(0,0,0,0));
}

.line-3 {
    animation: glow-1 5s ease-in-out 4.5s infinite both;
    background-image: linear-gradient(to left, rgba(0,0,0,0), rgba(0,0,0,0.75) 30%, rgba(0,0,0,0.75) 70%, rgba(0,0,0,0));
}

.line-4 {
    animation: glow-2 7.5s ease-in-out 2.1s infinite both;
    background-image: linear-gradient(to left, rgba(0,0,0,0), rgba(0,0,0,0.25) 30%, rgba(0,0,0,0.25) 70%, rgba(0,0,0,0));
}

.line-5 {
    animation: glow-1 6.9s ease-in-out .75s infinite both;
    background-image: linear-gradient(to left, rgba(0,0,0,0), rgba(0,0,0,0.75) 30%, rgba(0,0,0,0.75) 70%, rgba(0,0,0,0));
}

.line-6 {
    animation: glow-2 8.5s ease-in-out 5s infinite both;
    background-image: linear-gradient(to left, rgba(0,0,0,0), rgba(0,0,0,0.5) 30%, rgba(0,0,0,0.5) 70%, rgba(0,0,0,0));
}

::-webkit-scrollbar { width: 4px; }

::-webkit-scrollbar-track {
  background: #d8eff3;
}

::-webkit-scrollbar-thumb {
  background: linear-gradient(to bottom, #d8eff3 0%, #4530a8 100%);
  /* filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#d8eff3', endColorstr='#bae2e9', GradientType=1); */
}

